body {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    display: block;
    bottom: 0;
    height: fit-content;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.game-btn{
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}


.game-container {
    background-color: rgb(211, 211, 211);
    display: grid;
    grid-template-columns: repeat(3, 160px);
    gap: 1rem;
    border: 2px solid rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 10px;

}

.hole {
    height: 150px;
    background: rgb(255, 255, 255);
    border: 5px solid rgb(30, 30, 30);
    cursor: pointer;
    border-radius: 100px;
}

.mole {
    background-size: 150px;
    background-image: url(
    "images/mole-svgrepo-com.svg")
}