body {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: none;
    font-family: "Space Mono", Arial, Helvetica, sans-serif;
    color: #ffe46c;
    margin: 0;
    background-image: url('images/pxlWarhammerBG.png'); 
    background-size: 100%;
    /* ai generated background using microsoft copilot  */
}
header{
    text-align: center;
}

main{
    margin-bottom: 10rem;
}
footer{
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-self: flex-end;
    /* position: fixed;
    left: 0;
    bottom: 0; */
	width: 100%;
	height: 10rem;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: black;
   
}

h1{
    font-family: 'Audiowide',Impact, 'Arial Narrow Bold', sans-serif;
    color: #ffe46c;
    font-size: 7rem;
    margin-bottom: 2rem;
}

.darken-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0 , 0.6);
    z-index: -1;
    
}

button{
    background-color: rgb(0, 0, 0);
    color: #ffe46c;
    border: solid 1px #ffe46c;
}

button:hover, button:focus, button:active{
    color: black;
    background-color: #ffe46c;
    transition: 300ms;
}


.game-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    gap: 1rem;
}

.game-btn{
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}


.game-container {
    background-color: rgb(40, 40, 40);
    display: grid;
    grid-template-columns: repeat(3, 160px);
    gap: 1rem;
    border: 2px solid rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 10px;

}

.hole {
    height: 150px;
    background: rgb(32, 32, 32);
    border: 5px solid rgb(30, 30, 30);
    cursor: pointer;
    border-radius: 100px;
}

.mole {
    background-size: 150px;
    background-image: url(
    "images/pixelated-gaunt.png")
    /* original: https://www.reddit.com/r/Warhammer40k/comments/15le9so/tyranid_gaunt_test_scheme_hive_fleet_name/ */
}

/* game url: https://owenc8.github.io/JavaScript-game-WS1/ */

.custom-cursor {
    position: fixed;
    pointer-events: none;
    cursor:none;
    width: 70px; 
    
    height: 70px;
    background-image: url('images/crozius-arcanum-pxl.png'); 
    /* original: https://chaosgate.fandom.com/wiki/Crozius */
    background-size: cover; 
    z-index: 9999; 
}

